<script>
  import { setContext } from "svelte";
  import { getTextContent } from "../utils.js";

  import PageIcon from "../subcomponents/PageIcon.svelte";
  import FormattedText from "../subcomponents/FormattedText.svelte";

  export let block = {};
  export let blocks = [];
  export let fullPage = false;
  export let api,
    classes = "";
  export let showIcon = true,
    calloutType = "default";

  let markdown = false;

  const title = getTextContent(block);

  $: if (title) {
    // title = block.properties.title // first line of the callout

    // special Callouts
    if (title && title.includes("#billboard")) {
      calloutType = "billboard";
      showIcon = false;
    }

    if (title && title.includes("#classes")) {
      classes += " " + title;
    }

    // child blocks can get 'useHtml' context
    if (title && title.includes("#html")) {
      setContext("useHtml", true);
    }
  }

</script>

<div
  id={`_block-${block.id}`}
  class:notion-callout-billboard={title.includes('#billboard')}
  class={`notion-callout ${classes} ${block.content ? 'notion-children' : ''} ${block.format.block_color && 'notion-' + block.format.block_color + '_co'}`}>
  {#if showIcon}
    <div class="notion-callout-icon">
      <PageIcon {block} />
    </div>
  {/if}
  <div class="notion-callout-text">
    {#if calloutType == 'default'}
      <FormattedText {block} />
    {/if}
    <div class="notion-callout-children">
      <slot />
    </div>
  </div>
</div>
