<script>
  import CollectionTable from "../subcomponents/CollectionTable.svelte";
  import CollectionGallery from "../subcomponents/CollectionGallery.svelte";
  import CollectionList from "../subcomponents/CollectionList.svelte";
  import CollectionBoard from "../subcomponents/CollectionBoard.svelte";

  export let block = {};
  export let api;
  export let tableData = null;
  export let view, isHideTitle, _description;
  // export let classes = ''
  // export let columns

  // const request = fetch(`${api}/v1/table/${block.id}`)
  let request;

  $: if (process.browser && fetch) {
    try {
      request = fetch(`${api}/v1/collection/${block.id}`)
        .then((res) => res.json())
        .then((json) => {
          tableData = json;
          // console.log('children:', tableData)
          // console.log('collection:', block, tableData, columns)
          return json;
        });
    } catch (e) {
      console.error("[Collection] fetch error", e);
    }
  }

  let url, filename;

  $: if (tableData) {
    // console.log('tableData:::', tableData)
    view = tableData.views[0];
    // console.log('VIEW::::', view)
  }

  let tableRows;
  $: if (tableData && tableData.rows) {
    // manipulate data here, e.g. sorting, filtering, insertions
    tableRows = tableData.rows;
  }

  // #hide_title : don't show the collection name / title
  $: if (
    tableData &&
    tableData.collection.value.description &&
    tableData.collection.value.description[0]
  ) {
    _description =
      tableData.collection.value.description &&
      tableData.collection.value.description[0][0];
    isHideTitle = _description.includes("#hide_title");
  }

</script>

<style>
</style>

{#if false}
  <slot />
{/if}

{#if tableData && tableData.name}
  <div class="notion-collection" id={tableData.name}>
    {#if !isHideTitle}
      <h3 class="notion-collection-header">{tableData.name}</h3>
    {/if}
    <figure class="notion-collection-figure">
      {#if view.type == 'table'}
        <CollectionTable {tableData} {tableRows} {api} {view} />
      {:else if view.type == 'gallery'}
        <CollectionGallery {tableData} {tableRows} {api} {view} />
      {:else if view.type == 'list'}
        <CollectionList {tableData} {tableRows} {api} {view} />
      {:else if view.type == 'board'}
        <CollectionBoard {tableData} {tableRows} {api} {view} />
      {:else}
        <div class="notion-collection-unsupported">
          <!-- Not supported -->
        </div>
      {/if}
    </figure>
  </div>
{/if}
