{#if false}
    <slot />
{/if}
<h1 id={`_block-${block.id}`} class="notion-h1">
    <FormattedText {block} />
</h1>

<script>
    import FormattedText from '../subcomponents/FormattedText.svelte'

    export let block = {}
    export let blocks = []
    export let fullPage = false
    export let api

</script>
