{#if isTopLevel(block, blocks)}
    <ol
        id={`_block-${block.id}`}
        {start}
        class="notion-list notion-list-numbered">
        {#if block.properties}
            <li>
                <FormattedText {block} />
            </li>
        {/if}
        {#if block.content}
            <ol {start} class="notion-list notion-list-numbered">
                <slot />
            </ol>
        {/if}
    </ol>
{:else}
    {#if block.properties}
        <li id={`_block-${block.id}`}>
            <FormattedText {block} />
        </li>
    {/if}
    {#if block.content}
        <ol
            id={`_block-${block.id}`}
            {start}
            class="notion-list notion-list-numbered">
            <slot />
        </ol>
    {/if}
{/if}

<script>
    import { getListNumber, isTopLevel, search } from '../utils.js'
    import FormattedText from '../subcomponents/FormattedText.svelte'
    export let block = {}
    export let blocks = []
    export let fullPage = false
    export let api

    const start = getListNumber(block, blocks)

</script>
