{#if false}
    <slot />
{/if}
<h2 id={`_block-${block.id}`} class="notion-h2">
    <FormattedText {block} />
</h2>

<script>
    import FormattedText from '../subcomponents/FormattedText.svelte'
    export let block = {}
    export let blocks = []
    export let fullPage = false
    export let api

</script>
