{#if false}
    <slot />
{/if}
<h3 id={`_block-${block.id}`} class="notion-h3">
    <FormattedText {block} />
</h3>

<script>
    import FormattedText from '../subcomponents/FormattedText.svelte'
    export let block = {}
    export let blocks = []
    export let fullPage = false
    export let api

</script>
