{#if href}
    <blockquote id={`_block-${block.id}`} class="twitter-tweet" data-lang="en">
        <a {href}>Tweet from {href}.</a>
    </blockquote>
{/if}

<script>
    import { onMount } from 'svelte'
    import { toNotionImageUrl, loadTwitter } from '../utils.js'
    import FormattedText from '../subcomponents/FormattedText.svelte'
    export let block = {}
    export let blocks = []
    export let fullPage = false
    export let api

    let href
    if (block.properties.source) href = block.properties.source[0][0]

    onMount(async () => {
        loadTwitter()
    })

</script>
